/*Creacion de los estilos para esta pagina, el estilo debe ser como una carta con palabras
raras que parezcan otro idioma, y que inciten a la encriptacion*/

body{
    margin-top: 12%;
}

body header{
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 30%;
    left: 27%;
    font-size: 30px;
}

body main{
    background-position: absolute;
    margin: 10% 25% 1px 25%;
    width: 50%;
    height: 470px;
    background-color: beige;
    
}

.imagen{
    width: 200px;
    height: 125px;
    position: absolute;
    top: 30%;
    left: 62%;
}

.boton-encriptar{
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 50%;
    left: 55%;
    background-color: transparent;
    border: none;
    font-size: 17px;
    transition: 0.6s;
}

.boton-desencriptar{
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 60%;
    left: 55%;
    background-color: transparent;
    border: none;
    font-size: 17px;
    transition: 0.6s;
}

.boton-copiarTexto{
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 71%;
    left: 44%;
    background-color: transparent;
    border: none;
    transition: 0.6s;
}

.input-texto{
    
    position:  absolute;
    top: 35%;
    left: 27%; 
    width: 414px;
    height: 300px;
    background-color: beige;
}

#texto-desencriptar{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    position: absolute;
    top: 64%;
    left: 55.5%;
}

#texto-encriptar{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    position: absolute;
    top: 54%;
    left: 55.5%;
}

.imagen-informacion{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 71.6%;
    left: 27%;
}

body main, footer{
    font-family: "Libre Barcode 128 Text", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.texto-informativo{
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 71.6%;
    left: 28%;
}

/*Parte de los hover*/

.boton-encriptar:hover{
    font-size: 19px;
}

.boton-desencriptar:hover{
    font-size: 19px;
}

.boton-copiarTexto:hover{
    font-size: 14px;
}

footer{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    margin: 15px 15px;
}